# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Thiet_Ke_Xay_Dung_Phan_Mem\AIMS_project_JavaFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
